body{
    font-family: verdana; sans-serif;
}

#welcome{
    background-color: blue;
    color: white;
}

#rides{
    color: cornflowerblue;
}

.contact{
    background: paleturquoise;
}

ol{
    text-decoration: underline;
}