.red-class{
    color: red;
}

#blue-id{
    color: blue;
}

h4{
    color: purple;
}

.green-class{
    color: green;
}

p{
    color: chocolate;
}

div{
    color: teal;
}

h3{
    color: mediumorchid;
}

#goldenrod-id{
    color: goldenrod;
}