body{
    font-family: arial, helvetica, sans-serif;
}

blockquote{
    color: blue;
}

#title{
    background-color: aquamarine;
    text-transform: uppercase;
}

#inheritance{
    background-color: lightpink;
}

.division{
    background-color: lightblue;
}